@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@300;400;500;600;700;800;900;1000&family=Raleway:wght@600;700;800;900&display=swap');

.parent_container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  
}


.input_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  height: 20vh;
}

.input_child_container {
  display: flex;
  flex-direction: column;
  margin: 2vh;
  justify-content: center;
}


.input_box {
  width: 80%;
  border-radius: 5px;
  background-color: hsla(0,0%,84.5%,25%);

}

.input_box:hover {
  background-color: hsla(0,0%,84.5%, 35%);
}

.input_box:focus {
  box-shadow: 1px 1px 5px 1.5px rgba(0, 0, 0, 0.2);
}

.settings_label {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: clamp(12px, 2vw, 16px);
}

.buttn {
  margin-top: 10%;
  padding: 5px 2vw;
  background-color: #163760;
  color: white; 
  border: 0.5px solid transparent;
  cursor: pointer;
  transition: border-color 0.5s; 
  border-radius: 5px;  
  font-family: 'Nunito', sans-serif;
  font-weight: 800;

}

.buttn:hover {
  background-color: #ffffff;
  color: #163760;
  border-color: #163760;
  box-shadow: 1px 1px 10px 2.5px rgba(0, 0, 0, 0.2);
}
