@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@300;400;500;600;700;800;900;1000&family=Raleway:wght@600;700;800;900&display=swap');


.testnav {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-bottom: 1vh;
}


.divP {
  display: flex;
  justify-content: center;
}

.divpTable {
  width: 35%;
  display: flex;
  justify-content: center;
}

.pTable {
  width: 100%;
  border-collapse: collapse;
  border: 2.5px solid #b5b5b5;
  box-shadow: 1px 1px 10px 2.5px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.pth {
  border: 1px solid #a1a1a1;
  background: #163760;
  color: #ffffff;
  padding: 7px;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;

}

.tableRow {
  background-color: #ffffff;
  text-align: center;

}

.tableC {
  padding: 5px;
  border: 1px solid #d5d5d5;
}


.tableRow:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.tableRow:active {
  background-color: #f1f1f1;
}

