.parcel-finder-container {
  text-align: center;
  color: #7b7676  
}

.parcel-finder-container input {
  width: 500px;
  height: 50px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #7b7676;
  border-radius: 5px;
}

.parcel-finder-container button {
  width: 80px;
  height: 60px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

.parcel-finder-container button:hover {
  background-color: #fff;
  color: #000
}
.parcel-finder-container p {

  font-style: italic;
}